@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Karla", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Header and Nav */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeLogo:hover {
  cursor: pointer;
}

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 675px;
  gap: 20px;
}

.navLinksContainer {
  display: flex;
  gap: 20px;
}

.navLinkLists {
  list-style: none;
}

.navLinks {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.navLinks:hover {
  color: #f1cd14;
}


/* Footer */

.footer {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  width: 675px;
  display: flex;
  justify-content: space-between;

}

.footerImage {
  width: 100px;
}

.footerNavHeader {
  font-weight: 800;
}

.footerLinkLists {
  list-style: none;
  margin: 8px 0;
}

.footerLinks {
  text-decoration: none;
  color: black;
}

.footerLinks:hover {
  color: #f1cd14;
}